.button {
  background-color: #48bf84 !important;
  border-color: #48bf84 !important;

  color: white !important;

  &:hover {
    background-color: #329c67 !important;
    color: white !important;
  }
}
