#root {
  height: 100%;
}

html,
body {
  height: 100%;
  // background-color: white;
  // color: #50575e !important;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Lato", sans-serif;
  color: #0f5257;
}

// hr
.myDivider {
  margin-top: 0;
  border: none;
  // min-height: 0.5rem !important;
  height: 0.4rem !important;
  width: 2.5rem;
  background-color: #48bf84;
  margin-left: 0;
}

@media only screen and (max-width: 991px) {
  hr.dashedDivider {
    margin: 45px 0px !important;
  }
}
