#root {
  height: 100%;
}

html,
body {
  height: 100%;
  background-color: white;
  color: #484a4b;
  font-family: "Noto Sans", sans-serif;
  // font-size: 14px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Noto Serif", serif;
  // font-weight: 700 !important;
  color: #212529;
}

// hr
.myDivider {
  margin-top: 0;
  border: none;
  min-height: 0.3rem !important;
  width: 2.5rem;
  background-color: #ffc107;
  margin-left: 0;
}
