#root {
  height: 100%;
}

html,
body {
  height: 100%;
  background-color: white;
  // color: #484a4b;
  color: #50575e !important;
  font-family: "Noto Sans", sans-serif !important;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5 {
  color: #212529;
  font-family: "Lato", sans-serif;
  // font-weight: 700;
}

// hr
.myDivider {
  margin-top: 0;
  border: none;
  min-height: 0.3rem !important;
  width: 2.5rem;
  background-color: #48bf84;
  margin-left: 0;
}

hr.dashedDivider {
  background-color: transparent;
  border-top: 2px dashed #8c8b8b;
  margin: 90px 0px !important;
}

@media only screen and (max-width: 991px) {
  hr.dashedDivider {
    margin: 45px 0px !important;
  }
}
