.card {
  background-color: #f4fbf8 !important;
  margin-top: 30px;
  width: 30rem;
}

.title {
  color: #0f5257;
}

.badge {
  background-color: var(--color-lightGreen);
  color: white;
}

.topic {
  color: #48bf84;
}

.coursePrice {
  color: #495057;
  font-weight: 900 !important;
}

.buyButton {
  background-color: transparent !important;
  border-color: #48bf84 !important;

  color: #48bf84 !important;
  font-weight: 700 !important;

  &:hover {
    background-color: #329c67 !important;
    color: white !important;
  }
}

@media only screen and (max-width: 481px) {
  .courseInfoCard {
    width: 100%;
  }
}
