#gradecardstyle {
  background-image: url("/images/grade.png");

  color: #0f5257;

  background-color: #f4fbf8;
  background-blend-mode: multiply;

  padding: 25px;
}

#gradestyle {
  color: rgb(26, 26, 26);
  font-size: 120px;
}
