.buybttn {
  background-color: #48bf84 !important;
  border-color: #48bf84 !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  &:hover {
    background-color: #3ca872 !important;
    border-color: #3ca872 !important;
    transition: 0.5s;
  }
}
