#mainContainer {
  // padding-left: 244px;

  padding-left: 15rem;
  padding-right: 0px;

  // background-color: ghostwhite;
}

#contentDiv {
  padding: 25px;
  // background-color: #f4fbf8;

  // background-color: ghostwhite;
}
