$topnavbackgroundcolor: #0f5257;

#topnavrow1 {
  background-color: $topnavbackgroundcolor;

  padding: 0px 24px;
  height: 63px !important;
}

#topnavrow2 {
  background-color: $topnavbackgroundcolor;

  padding: 20px 24px;
  padding-top: 0px;
}

#topnavrow3 {
  background-color: $topnavbackgroundcolor;

  padding: 15px 24px;
  padding-top: 0px;
}
