// ============================================================
// WELCOME JUMBOTRON
// ============================================================
.wj_jumboStyle {
  padding: 90px 0px !important;
  background-color: #0d2129 !important;
}

// ============================================================
// THREE COLUMNS
// ============================================================
.tc_container {
  margin-top: 180px;
}

// ============================================================
// QUOTE JUMBOTRON
// ============================================================
.qj_jumboStyle {
  // margin-top: 60px;
  // padding: 120px 0px !important;
  padding-bottom: 110px !important;
  background-color: #f4fbf8 !important;
}

.qj_quote {
  font-family: "Noto Serif", serif;
  font-weight: 400 !important;
  font-style: italic;
}

// ============================================================
// OUR COURSES JUMBOTRON
// ============================================================
.oc_jumbo {
  margin-top: 170px;
  background-image: url("/images/cardsbackground.png");
  background-size: cover;
}

.oc_subtitle {
  padding-left: 150px !important;
  padding-right: 150px !important;
}

// ============================================================
// TEACHER JUMBOTRON
// ============================================================
.teacherJumbo {
  padding-top: 60px !important;
  padding-bottom: 180px !important;
  background-color: #f4fbf8 !important;
}

// ============================================================
// FACILITIES JUMBOTRON
// ============================================================
.facj_jumbo {
  margin-top: 180px !important;
}

.facj_list {
  background-color: #f4fbf8;
  color: #48bf84;
  font-weight: 600;
  margin-left: 150px !important;
  margin-right: 150px !important;
  padding: 50px;
}

.facj_image {
  margin-right: 15px;
}

.facj_item {
  font-size: 25px;
  margin-bottom: 15px;
}

// ============================================================
// FAQ JUMBOTRON
// ============================================================
.fj_jumbo {
  padding-top: 70px !important;
  padding-bottom: 100px !important;
  margin-bottom: 180px !important;
  background-color: #f4fbf8 !important;
}

.fj_question {
  font-size: 17px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 500 !important;
  &:hover {
    color: #5cc792;
    transition: 0.3s;
  }
}

.fj_answer {
  font-size: 17px;
}

.plusSymbol {
  padding-top: 4px;
  color: #5cc792;
}

.fj_paddingsides {
  padding-left: 250px !important;
  padding-right: 250px !important;
}

.fj_accordionItem {
  cursor: pointer;
  margin-bottom: 10px;
}

.fj_cardHeader {
  background-color: white !important;
}
