// ============================================================
// WELCOME JUMBOTRON
// ============================================================
.wj_jumboStyle {
  padding: 100px 0px !important;
  margin-bottom: 0px !important;
  background-image: url("/images/schoolBack.jpg");
  background-size: cover;
  background-color: gray !important;
  background-blend-mode: multiply;
}

.wj_title {
  color: #49bf84 !important;
  font-weight: 800 !important;
}

.wj_text {
  color: #f4fbf8 !important;
  font-size: 22px;
}

.wj_plusIcon {
  font-size: 22px;
  margin-right: 10px;
  color: #49bf84 !important;
}

@media only screen and (max-width: 991px) {
  .wj_jumboStyle {
    padding: 80px 0px !important;
    background-image: url("/images/schoolBacksm.jpg");
  }
  .wj_title {
    font-size: 42px !important;
  }
  .wj_plusIcon {
    font-size: 16px;
    margin-right: 5px;
  }
  .wj_text {
    font-size: 16px !important;
  }
}

// ============================================================
// THREE COLUMNS
// ============================================================
.tc_container {
  margin-top: 100px !important;
  background-image: url("/images/threecolumns.png");
  background-size: cover;
}

.tc_pic {
  width: 120px !important;
  height: 120px !important;
}

@media only screen and (max-width: 991px) {
  .tc_container {
    margin-top: 80px !important;
  }
}

// ============================================================
// OUR COURSES JUMBOTRON
// ============================================================
.oc_jumbo {
  margin-top: 100px !important;
}

.oc_subtitle {
  padding-left: 150px !important;
  padding-right: 150px !important;
}

.oc_coursecard {
  background-color: #f4fbf8 !important;
}

.oc_cardBadge {
  background-color: #48bf84 !important;
  color: white;
  font-size: 13px !important;
}

@media only screen and (max-width: 991px) {
  .oc_jumbo {
    margin-top: 80px !important;
  }
  .oc_subtitle {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

// ============================================================
// TEACHER JUMBOTRON
// ============================================================
.teacherJumbo {
  margin-top: 100px !important;
  padding-top: 110px !important;
  padding-bottom: 110px !important;
  margin-bottom: 0px !important;
  background-color: #f4fbf8 !important;
}

@media only screen and (max-width: 991px) {
  #teacher_img {
    margin-top: 80px !important;
  }
  .oc_subtitle {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

// ============================================================
// FACILITIES JUMBOTRON
// ============================================================
.facj_jumbo {
  margin-top: 150px !important;
}

@media only screen and (max-width: 991px) {
  .facj_jumbo {
    margin-top: 80px !important;
  }
}

// ============================================================
// FAQ JUMBOTRON
// ============================================================
#fj_image {
  margin-top: 100px !important;
}

.fj_jumbo {
  padding-top: 50px !important;
  padding-bottom: 100px !important;
  margin-bottom: 0px !important;
  background-color: #f4fbf8 !important;
}

.fj_question {
  font-size: 17px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 500 !important;
  &:hover {
    color: #5cc792;
    transition: 0.3s;
  }
}

.fj_answer {
  font-size: 17px;
}

.plusSymbol {
  padding-top: 4px;
  color: #5cc792;
}

.fj_paddingsides {
  padding-left: 250px !important;
  padding-right: 250px !important;
}

.fj_accordionItem {
  cursor: pointer;
  margin-bottom: 10px;
}

.fj_cardHeader {
  background-color: white !important;
}

@media only screen and (max-width: 991px) {
  .fj_image {
    margin-top: 80px !important;
  }

  .fj_paddingsides {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .fj_jumbo {
    padding-top: 40px !important;
    padding-bottom: 80px !important;
  }
}
