.oc_jumbo {
  margin-top: 100px !important;
}

.oc_subtitle {
  font-size: 24px;
  padding-left: 150px !important;
  padding-right: 150px !important;
}

.oc_coursecard {
  background-color: #f4fbf8 !important;
}

.oc_cardBadge {
  background-color: #48bf84 !important;
  color: white;
  font-size: 13px !important;
}

@media only screen and (max-width: 991px) {
  .oc_jumbo {
    margin-top: 80px !important;
  }
  .oc_subtitle {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
