.adminaddbttn {
  background-color: #48bf84 !important;
  border-color: #48bf84 !important;

  color: white !important;

  &:hover {
    background-color: #329c67 !important;
    color: white !important;
  }
}

.genericDeleteButton {
  color: #dc3545 !important;
  font-size: 18px !important;

  &:hover {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
    color: white !important;
    transition: 0.3s;
  }
}
