.editButton {
  background-color: #48bf84 !important;
  border-color: #48bf84 !important;
  color: white !important;

  &:hover {
    background-color: #319764 !important;
    border-color: #319764 !important;
  }
}
