#leftnavstyle {
  background-color: #0d2129 !important;
  // padding: 10px 40px;
  // padding-left: 15px;

  width: 15rem;

  padding: 15px 25px;

  font-size: 16px;
}

#leftnavlogo {
  color: #48bf84;
  font-family: "Noto Serif", serif !important;
  font-weight: 700 !important;
  font-size: 26px;

  margin-bottom: 46px;
}

.navItemStyle {
  color: #2e718a;
  font-size: 12px;
}

.navLinkStyle {
  color: #869094 !important;
  font-weight: 700 !important;

  &:hover {
    color: gainsboro !important;
  }

  &.active {
    color: white !important;
  }
}
