#myfooter {
  background-color: #1c2a48;
  margin-top: auto;
  color: #e0ffff;
  padding: 60px 0px !important;
}

#footerLogo {
  color: #baf73c;
}

.footerTitle {
  color: #baf73c;
}

#footerCopyright {
  color: #baf73c;
}

.socials {
  font-size: 20px;
  color: #e0ffff;
  cursor: pointer;
}
