#myfooter {
  background-color: #0d2129;
  margin-top: auto;
  color: #7f898e;
  padding: 60px 0px !important;
}

#footerLogo {
  color: #48bf84;
  font-family: "Noto Sans", sans-serif;
}

.footerTitle {
  // color: #48bf84;
  color: white;
  font-family: "Noto Sans", sans-serif;
}

#footerCopyright {
  color: #baf73c;
}

.socials {
  font-size: 20px;
  color: white;
  cursor: pointer;
}
