.ccardSize {
  width: 20rem;
}

@media only screen and (max-width: 991px) {
  .ccardSize {
    width: 100%;
  }
}

.ccardBody {
  background-image: url("/images/coursecardback.png");
  background-size: cover;
}

.ccardTitle {
  font-weight: 600;
}
