.courseCard {
  width: 20rem;
  box-shadow: 3px 3px #1f848d !important;
  // background-image: url("/images/coursecardback.png");
  // background-size: cover;
  // border: 0px !important;
  &:hover {
    box-shadow: 6px 6px #0f4b51 !important;
    // border: 1px solid gray !important;
    transition: 0.5s;
  }
}

.ccardBody {
  // background-image: url("/images/coursecardback.png");
  // background-size: cover;
}

.ccardTitle {
  font-weight: 600;
}

@media only screen and (max-width: 991px) {
  .courseCard {
    width: 100%;
  }
}
