.dashboardCourseCard {
  width: 24rem;
  background-color: #f4fbf8 !important;
  color: #50575e !important;
}

.openBttn {
  background-color: #48bf84 !important;
  border-color: #48bf84 !important;

  &:hover {
    background-color: #3ca872 !important;
    border-color: #3ca872 !important;
    transition: 0.5s;
  }
}

.dashboardCourseLink {
  color: #48bf84 !important;

  &:hover {
    text-decoration: none !important;
    color: #308b5e !important;
    transition: 0.3;
  }
}

@media only screen and (max-width: 991px) {
  .dashboardCourseCard {
    width: 100%;
  }
}
