#studentNav {
  background-image: url("/images/studentnavback.png");
  background-color: slategray;
  background-blend-mode: multiply;
  padding: 30px 0px !important;
}

.studentName {
  font-weight: 600;
}
