#studentDropdownText {
  font-weight: bold !important;
  background-color: transparent;
  border-color: transparent;
  color: #7b8887 !important;
  &:hover {
    color: gainsboro !important;
    transition: 0.2s !important;
  }
}

#studentDropdownToggle::after {
  display: none !important;
}
