#mynavbar {
  background-color: #1c2a48;
  color: #e0ffff;
}

#myLogo {
  cursor: pointer;
  color: #baf73c;
  text-decoration: none;
}

.navbarItem {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #e0ffff !important;
}
